canvas {
  position: relative;
  margin: 0;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 4;
}

.hide-div {
  display: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 6;
}

/* Container for the loader */
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 1),
    inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.loader::before {
  content: "";
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 1),
    10px 10px 10px rgba(0, 0, 0, 0.1);
}
.orb {
  height: 156px;
  width: 120px;
  position: absolute;
  animation: rotate 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.orb::before {
  content: "";
  position: absolute;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  background: radial-gradient(circle at 30% 30%, #ffffff, #ccc);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -2px 4px rgba(255, 255, 255, 0.2),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}
