@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.events-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
  align-items: center;
  justify-content: center;
}

.events-heading {
  display: flex;
  position: absolute;
  top: 5vh;
  left: 17vw;
  font-size: 6rem;
  opacity: 0;
  animation: scrolled 1.5s forwards;
  animation-delay: 0.2s;
}

.events-heading-prev {
  opacity: 0;
}

@keyframes scrolled {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media (max-width: 500px) {
  .events-container {
    height: 80vh;
  }
  .events-heading {
    left: 10vw;
    font-size: 4rem;
  }
}

.tab-btn {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.slick-slider {
  height: 60vh;
  width: 70vw;
}

.slick-slide {
  width: 50px;
}

.events-cards {
  display: flex;
  flex-direction: row;
}
.card {
  margin: 50px;
  padding: 20px;
  max-width: 330px;
  min-width: 300px;
  min-height: 370px;

  border-radius: 20px;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
}

@media (max-width: 1400px) {
  .card {
    width: 330px;
  }
}

@media (max-width: 500px) {
  .slick-slider {
    margin-top: 20%;
    height: 110%;
    width: 105vw;
  }
  .card {
    width: 80vw;
    margin: 10vw;
  }
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #2e54a7;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
}

.by-name {
  font-weight: 700;
}

.tabs {
  display: flex;
  position: relative;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
  padding: 0.75rem;
  border-radius: 20px;
  z-index: 0;
}

.tabs * {
  z-index: 2;
}

.container {
  width: fit-content;
}
.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  margin: 5px;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #185ee0;
}

.container input[type="radio"]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 40px;
  width: 60px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 15px;
  transition: 0.25s ease-out;
}
