@import url(https://db.onlinewebfonts.com/c/d056bcf9dfd6ac922b71535de69e8827?family=Posterama+2001+W04+Thin);

.team-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin-left: 15vw;
  z-index: 0;
}

.team-tabs {
  position: absolute;
  top: 50%;
  left: 5vw;
  display: flex;
  transform: rotate(-90deg);
}
.team-tab {
  cursor: pointer;
  margin: 15px;
}

.team-tab-active {
  margin: 15px;
  border-bottom: solid #0077b5;
}
.team-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  background-color: #e8e8e8;
  align-items: flex-start;
  justify-content: center;
}

.ourteam-title {
  font-size: 6rem;
  margin-left: 18vw;
}

@media (max-width: 500px) {
  .ourteam-title {
    font-size: 3.5rem;
    margin-left: 8vw;
    margin-top: 10vh;
  }
  .team-tabs {
    position: relative;
    flex-direction: row;
    transform: rotate(0deg);
    width: 100%;
    left: 0px;
    top: 0px;
    justify-content: center;
    font-size: 1rem;
    margin-top: 15px;
  }
}
.wrapper,
.wrapper .img-area,
.buttons button {
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
}
.wrapper {
  margin: 50px;
  position: relative;
  min-width: 250px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .icon {
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}

.wrapper .img-area {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}
.wrapper .about-team {
  color: #4e5279;
  font-size: 16px;
  font-family: "Posterama 2001 W04 Thin";
}

.team-quote {
  font-size: 15px;
  color: #83869b;
}

.social-icons a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}

.wrapper .icon:hover::before,
.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.buttons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
  height: 100%;
  line-height: 40px;
  margin: 15px 0 15px 0;
}

@media (max-width: 500px) {
  .wrapper {
    margin: 20px;
  }
  .social-icons {
    margin: 15px 0px 5px 0px;
  }
}

.fb {
  z-index: 5;
  display: flex;
  color: #4267b2;
}
.twitter {
  display: flex;
  align-items: center;
  justify-self: center;
  color: #1da1f2;
}

.social-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
}

.social-button:hover {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.insta {
  display: flex;

  color: #e1306c;
}

.linkedin {
  color: #0077b5;
}
.wrapper .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons button {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}
.buttons button:first-child {
  margin-right: 10px;
}
.buttons button:last-child {
  margin-left: 10px;
}
.wrapper .social-share {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}
.social-share .row {
  color: #31344b;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
.social-share .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}
.row:first-child::before {
  background: none;
}
.social-share .row i.icon-2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
  opacity: 1;
  pointer-events: auto;
}
